<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestsSuite">
    <test name="checkTitle">
        <classes>
            <class name="autotest.CheckTitle"/>
        </classes>
    </test>
    <test name="checkCity">
        <classes>
            <class name="autotest.CheckCity"/>
        </classes>
    </test>
    <test name="checkCart">
        <classes>
            <class name="autotest.CheckCart"/>
        </classes>
    </test>
</suite>